<!DOCTYPE html>
<html ang="en">
    <head>
        <title>Mark Drehmann, Bowmaker</title>
        <link rel="stylesheet" href="./style.css">
        <link rel="icon" href="/assets/WS-model-icon.png">
    </head>

    <body>
        <header>   
            <span class="title" margin=5% style=float:left><h1>Mark Drehmann, Bowmaker</h1></span> 
            <span class="pages" style=float:right>
            <a href="./home.html"><h4>HOME</h4></a> <a href="./photos.html"><h4>PHOTOS</h4></a> <a href="./contact.html"><h4>CONTACT</h4></a>
            </span>
            <hr>
        </header>
        <h1>Bows by Mark Drehmann</h1>
        <br><hr><br>
        <img src="/assets/Vln-1.jpg" alt="Violin Bow" width="70%">
        <br><br><hr><br>
        <img src="assets/Clo-1.jpg" alt="Cello Bow" width="70%">
        <br><br><hr><br>
        <img src="assets/Vln-2.jpg" alt="Violin Bow" width="70%">
        <br><br><hr><br>
        <img src="assets/Clo-2.jpg" alt="Cello Bow" width="70%">
        <br><br><hr><br>
        <img src="assets/Clo-3.jpg" alt="Cello Bow" width="70%">
        <br><br><hr><br>
    </body>

</html>